.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.owner-chat {
    align-self: flex-end;
    background-color: #f9dc0342;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    block-size: fit-content;
    padding: 10px;
}


.others-chat {
    align-self: flex-start;
    background-color: #d5bf1ca2;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}