.ProfileCard {
    width: 700px;
}

.ProfileCard img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.delete-button {
    background-color: #d5bf1c !important;
}

.complete-button {
    background-color: #d5bf1c !important;

}